
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.788);
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.397),
    -10px 10px 25px rgba(255, 255, 255, 0.363),
    -10px -10px 25px rgba(253, 253, 253, 0.363),
    10px -10px 25px rgba(255, 255, 255, 0.363);
    line-height: 1.5;

}